*{
 margin: 0;
 padding: 0;
}

.header{
 min-height: 8vh;
 width: 100%;
 background-color: #111111;
 position: relative;
 background-position: center;
 background-size: cover;
}

nav{
 display: flex;
 padding: 2% 6%;
 justify-content: space-between;
 align-items: center;
 color: #ffdd84;
}

.logo a{
 color: #ffdd84;
 font-family: 'Tangerine', cursive;
 font-size: 40px;
 text-decoration: none;
}

.nav-menu{
 flex: 1;
 text-align: right;
}

.nav-menu ul li{
 list-style: none;
 display: inline-block;
 padding: 8px 12px;
 position: relative;
}

.nav-menu ul li a{
 color:  #fff4e1;
 font-size: 15px;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 transition: 0.25s;
}

.nav-menu ul li a:hover{
 color: #ffdd84;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
}

.greet{
 width: 100%;
 min-height: 92vh;
 background-image: linear-gradient(#111, #333);
}

.text-box{
 width: 90%;
 color: #fff9ea;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 font-family: 'Open Sans',sans-serif;
}

.text-box h1{
 font-size: 62px;
 font-weight: 900;
}

.text-box p{
 margin: 10px 0 40px;
 font-size: 14px;
 color: #fff9ea;
}

.text-box p a{
 color: #fff9ea;
 transition: 0.25s;
}

.text-box p a:hover{
 color: #ffdd84;
}

.proj{
 width: 100%;
 min-height: 20vh;
 background-image: linear-gradient(#333,#ffffef);
}

.about{
 min-height: 90vh;
 width: 100%;
 background-color: #ffffef;
 display: inline-flex;
 align-items: center;
}

.about img{
 position: relative;
 left: 23%;
 width: 20%;
 padding: 2%;
}

.about-text{
 position: relative;
 left: 23%;
 width: 30%;
 color: #111;
 font-family: 'Open Sans',sans-serif;
 padding: 2%;
}

.about-text h2{
 font-size: 35px;
 font-weight: 750;
}

.about-text p{
 font-size: 18px;
}

.contact-btns{
 transform: translate(0%,50%);
 display: inline-flex;
}

.about button{
 position: relative;
 width: 90px;
 height: 30px;
 outline: none;
 border-radius: 2px;
 margin: 0px 5px;
 font-family: 'Open Sans', sans-serif;
 font-weight: bolder;
}

.about button:active{
 transform: scale(1.1);
}

#linkedin{
 border: 2px solid #111;
 background-color: #fffffe;
}

#github{
 border: 2px solid #111;
 color: #fff9ea;
 background-color: #111;
}

.footer{
 position: relative;
 width: 100%;
 min-height: 6vh;
 left: 0;
 bottom: 0;
 background-color: #111;
}
